.container{
    height: 50vh;

    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3. 1fr);
}
.box1{
    grid-column:  1 / 4;
    grid-row: 1 / 2;
}